/* p {
background-color: red;
} */
body {
    background-image: url("../images/X-wing_SWB.png");
    background-size: 80%
}
#game-name {
    float:right;
}
img {
    height: 100px;

}
#image-section {
    float:left;
    margin:0;
}

.crystal-image  {
    cursor: pointer;
}
.characterContainer {
    float:left;

}
.characterContainer {
    cursor: pointer;
}
#resetButton {
    font-weight: bold
    color:black;
    font-size: 20px

}
